/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.photo img {
    height: 350px;
    width: 100%;
}

.row {
    height: 500px;
    background-color: #353a40;
}

.descr {
    background: black;
    color: white;
}



.part {
    width: 50%;
}

.port-item:hover{
    opacity:0.6;
    cursor:pointer;
}

.port-item {
    width: 30%  ;
} */

.bg-black {
    background: #000;
    color: #fff; }
  
  #main-header img {
    width: 100%;
    height: 100%; }
  
  #main-header .port-item {
    width: 30%; }
    #main-header .port-item .fa {
      font-size: 2em; }
  
  #main-header .port-item:hover {
    opacity: 0.8;
    cursor: pointer; }
  
  @media (min-width: 1199px) {
    .port-item {
      padding: 3em !important; } }